@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-condensed), Helvetica, sans-serif;
}


 .inplay-animation {
  animation: inplayBlink 1s ease-in-out infinite;
  font-weight: 700;
}

@keyframes inplayBlink {
  0% {
    opacity: 1;
    color: red;
  }

  50% {
    opacity: 1;
    color: green;
  }

  100% {
    opacity: 1;
    color: red;
  }
}


.btn-back {
  background-color: #72bbef;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  width: 50%;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  color: black;
}

.btn-lay{
  background-color: #faa9ba;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  width: 50%;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  color: black;
}