@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto Condensed, sans-serif !important; /* ✅ Override font */
}

/* 🔥 Inplay animation */
.inplay-animation {
  animation: inplayBlink 1s ease-in-out infinite;
  font-weight: 700;
}

@keyframes inplayBlink {
  0% { opacity: 1; color: red; }
  50% { opacity: 1; color: green; }
  100% { opacity: 1; color: red; }
}

/* Buttons */
.btn-back {
  background-color: #72bbef;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  width: 50%;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  color: black;
}

.btn-lay {
  background-color: #faa9ba;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  width: 50%;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  color: black;
}

/* Circular icon */
.circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
/* live Casino  */
.casino-box {
    background: linear-gradient(-180deg, #f4b501 0%, #f68700 100%);
    box-shadow: 0 5px 9px -3px;
    border-radius: 4px;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}

.casino-box img {
    width: 100%;
}

.casino-bottom {
    text-align: center;
    font-size: 14px;
    padding: 4px 0;
}

@media (max-width: 1024px) {
    .casino-box img {
        min-height: 110px;
        height: auto;
    }
}
.casino-bottom {
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(180deg, #030a12, #444647 42%, #58595a);
    padding: 4px 0;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    letter-spacing: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 32px;
}

@media only screen and (max-width: 767px) {
    .casino-bottom {
        font-size: 12px;
        line-height: 13px;
        min-height: 32px; 
        font-family: 'Roboto Condensed', sans-serif;
    }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
